/*     BANNER     */
.banner {
    display: border-box;
    background-image: url(../assets/img/photo.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 800px;
    border-bottom: 10px solid #000;
    padding-top: 115px;
    padding-left: 90px;
}

.banner .wrapper {
    display: flex;
    flex-direction: column;
    width: 650px;
}

.banner .container {
    background-color: #3A4042; 
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    box-shadow: 10px 10px 0 #000;
    text-align: center;
    padding: 42px 44px;
    margin-bottom: 40px;
}

.banner .page-buttons {
    display: flex;                                   /* flex-direction padrão é row */
    justify-content: space-around;                   /* altera de acordo com o flex-direction */
}


/*     SKILLS     */
.skills {
    background-color: #F50000;
    color: #FFF;
    padding: 50px 0 100px;
    border-bottom: 10px solid #7776BC;
}

.skills-wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 960px;
    margin-left: auto;
    margin-right: auto;
    font-family: "Press Start 2P", Arial, Helvetica, sans-serif;
    text-shadow: 3px 3px 0px #000;
    font-size: 25px;
}

.skills-list {
    display: flex;
    align-items: center;
}

.skills-icon {
    margin-right: 25px;
    width: 90px;
}

.skills-div {
    display: flex;
    flex-direction: column;
}

.skills-bar {
    height: 40px; 
    border: 4px solid #000;
    border-top: 3px solid #000;
    box-sizing: border-box;
    margin-top: 10px;
}

.skills-bar::-webkit-progress-bar,
.skills-bar::-webkit-progress-bar {
    background-color: #fff;
}

.skills-wrapper .skills-list {
    width: 430px;
    margin-bottom: 38px;
}

.skills-wrapper .skills-list:nth-child(odd) {  /* seleciona impares */
    margin-right: 100px;
}

.skills-wrapper .skills-bar {
    width: 320px;
}

/*     PROJECTS      */
.projects-each {
    display: flex;
    justify-content: center;
}

.projects-each .projects-icon {
    width: 280px;
    height: 280px;
    padding: 20px;
    box-sizing: border-box;
    box-shadow: 10px 10px solid #FFF;
}

.projects-each .-first {
    background: #CDC7E5;
}

.projects-each .projects-icon:nth-child(even) {
    margin: 0px 150px;
    background: #CDC7E5;
}
